<div class="row-fluid">
    <%= form_for [@topic, @bookmark] do |f| %>
        <div class="field">
          <%= f.label :url %>
          <%= f.text_field :url %>
        </div>
        <div class="actions">
          <%= f.submit nil, class: "btn" %>
        </div>
    <% end %>
</div>