<h1>Welcome to BlocMark!</h1>
<% @topics.each do |topic| %>
    <div class="media">
        <div class="media-body">
            <h4 class="media-heading">
                <p><%= link_to '#'+topic.title, topic %></p>
                <div>
                    <% topic.bookmarks.each do |bookmark| %>
                        <ul>
                            <li><%= link_to bookmark.url, bookmark.url %></li>
                        </ul>
                    <% end %>
                </div>
            </h4>
        </div>
    </div>
<% end %>
<%= link_to "New Topic", new_topic_path, class: 'btn btn-success' %>