<br>
<div class="jumbotron">
    <h1>BlocMark</h1>
    <p>BlocMark is a resource for sharing resource with your friends!</p>
    <p>
        <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
    </p>
</div>