// Place all the styles related to the Bookmarks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

.bookmark {
    vertical-align: text-bottom;
}

.url {
    overflow-wrap: break-word;
    align-items: center;
}
.edit-remove {
    padding: 5px;
}
.bottom {
    position: absolute;
    bottom: 10px;
    width: 100%;
}